body {
  background-size: cover;
  font-weight: 500;
  background-image: url("physics_back.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

p {
  margin: 5px;
  text-indent: 15px;
  line-height: 140%;
  text-align: justify;
}

#tartalom {
  background-color: rgba(200, 200, 200, 0.85);
  border-radius: 30px;
  width: 60%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-style: italic;
}

table {
  width: 50%;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid gray;
}
th {
  background-color: gray;
  color: white;
}

ul {
  list-style-image: url("physics_icon.png");
}
span {
  font-weight: 800;
}
span:hover {
  color: red;
}
#teller_kep {
  float: right;
  width: 260px;
  margin-left: 20px;
}
a {
  text-decoration: none;
}
a:hover {
  color: red;
}
